.vscode/
.github/
tests/
build/
coverage/
examples/
src/
scripts/
types/core/
types/extensions/
.env
.git*
.prettier*
package-lock.json
jest.config.js
rollup.config.js
.editorconfig
.eslintrc.yml
*.tgz
tsconfig*.json
